export('home.38_06_06_130655')
export('hs.home.expand')
export('hs.machine.isLocal')
export('wk.dm.wjj')
export('hs.getTextFile')
export('hs.readLines.robust')
export('hs.source.robust')
export('hs.gre')
export('hs.grep')
export('hs.grepl')
export('hs.grepV')
export('hs.gsub')
export('hs.re')
export('hs.sub')
export('hs.colAlls')
export('hs.colAnys')
export('hs.colCumsums')
export('hs.colCvs')
export('hs.colMads')
export('hs.colMaxs')
export('hs.colMeans')
export('hs.colMedians')
export('hs.colMins')
export('hs.colProds')
export('hs.colSds')
export('hs.colSums')
export('hs.colVars')
export('hs.rowAlls')
export('hs.rowAnys')
export('hs.rowCumsums')
export('hs.rowCvs')
export('hs.rowMads')
export('hs.rowMaxs')
export('hs.rowMeans')
export('hs.rowMedians')
export('hs.rowMins')
export('hs.rowProds')
export('hs.rowSds')
export('hs.rowSums')
export('hs.rowVars')
export('hs.grepV')
export('hs.grep_sub')
export('hs.re.capture')
export('hs.has_x')
export('%=>%')
export('%<=>%')
export('hs.with')
export('hs.pipe1')
export('hs.update')
export('%<<=>%')
export('..x')
export('hs.libPaths')
export('wk.true')
export('wk.false')
export('wk.null')
export('wk.t')
export('wk.n')
export('hs.havePackages')
export('hs.browser')
export('mirror_db')
export('wk.lib')
export('wk.home')
export('wk.lib.mine')
export('wk_node_local')
export('hs.wj.is.Symlink')
export('hs.with_wd')
export('hs.with_wd_temp')
export('hs.c')
export('hs.c1')
export('hs.db')
export('hs.normalizePath')
export('hs.wjm.home')
export('hs.fp.components')
export('hs.wj.symlink')
export('file.is_symlink')
export('hs.symlink.target')
export('hs.wj.symlink.force')
export('hs.wjj.create')
export('hs.seqForward')
export('hs.all')
export('hs.any')
export('hs.cat')
export('hs.catn')
export('hs.say')
export('hs.info')
export('.try')
export('.try1')
export('hs.is_try_error')
export('hs.load')
export('hs.source.part')
export('hs.source.rd')
export('hs.source.wj')
export('hs.source.mtime')
export('hs.r.2rd')
export('hs.install.packages')
export('hs.require')
export('hs.source2wj')
export('hs.init')
export('hs.init1')
export('my.r')
export('hs.gc_here')
export('.First')
export('hs.save.history')
export('.Last')
export('hs.ls')
export('hs.str')
export('hs.pkg.depend')
export('hs.pkg.exported')
export('hs.pkg.get')
export('hs.lvl')
export('hs.nc')
export('hs.p')
export('hs.p0')
export('hs.nm')
export('hs.nm<-')
export('hs.ev')
export('hs.bq')
export('hs.env')
export('hs.env<-')
export('hs.ss')
export('hs.df')
export('hs.na')
export('hs.sample')
export('hs.list')
export('hs.runCmd')
export('hs.methods')
export('hs.filter')
export('hs.filter.1')
export('hs.attr.slice')
export('hs.match')
export('hs.skip')
export('v2.hs_chain.v1')
export('hs.eval')
export('hs.local')
export('hs01.expression2language')
export('hs.evalLazy')
export('hs.nonempty')
export('hs.is_empty')
export('hs.graph.node.path')
export('hs0.seq.eql')
export('hs.exists')
export('hs.make.connection')
export('hs.readLines')
export('hs.source')
export('hs.isOdd')
export('hs.isEven')
export('hs.recycle')
export('hs.ifelse')
export('hs.attr')
export('expandingSequence')
export('linkedList')
export('hs.linkedList')
export('expandingList')
export('namedExpandingList')
export('expandingVector')
export('namedExpandingVector')
export('hs.acc')
export('wk.flat')
export('hs.list.flatten')
export('hs.list.merge')
export('hs.abline')
export('hs.check.list')
export('hs.unique')
export('hs.duplicated')
export('hs.v.start_with')
export('hs.v.within')
export('hs.unlist')
export('intersection_string.hs.list')
export('hs.table')
export('hs.tapply')
export('hs.timestamp')
export('hs.cat.percentage')
export('hs.not')
export('hs.some_false')
export('hs.none')
export('hs.which')
export('hs.updatePackages')
export('hs.removePackages')
export('hs.lines_comment')
export('hs.makeBatch')
export('hs.doBatch')
export('hs.is_empty_arg')
export('hs.switch')
export('hs.switch.hs')
export('hs.cond')
export('hs.case')
export('hs.if')
export('hs.repeat')
export('hs.on.exit')
export('hs.case.over')
export('hs.for0')
export('hs.for')
export('hs.screen.clear')
export('hs.deInf')
export('order.hs')
export('set.clean.hs')
export('hs.clean')
export('hs.dirty')
export('hs.qp')
export('hs.matrix_to_list')
export('hs.ij')
export('hs.i')
export('hs.put2end')
export('popular.hs')
export('hs.getter')
export('hs.matrix.merge')
export('hs.cut')
export('hs.cut_fine')
export('hs.top')
export('hs.hs')
export('hs.factor')
export('eval.')
export('isTrue.hs.on')
export('hs.intersection')
export('hs.list.common')
export('hs.as.numeric')
export('isList')
export('chk')
export('chk2')
export('replicate.hs.group')
export('file.maker')
export('obj.maker')
export('hs.order')
export('hs.sort')
export('hs.apply')
export('hs.match.from_tail')
export('hs.rename')
export('hs.version_newest')
export('hs.catch')
export('hs.replace')
export('hs.merge')
export('%which.not.in%')
export('%which.in%')
export('%rm%')
export('%not.in%')
export('%all.in%')
export('%not.all.in%')
export('%none.in%')
export('%any.in%')
export('%keep%')
export('hs.len1')
export('hs.of_length')
export('merge_list')
export('%set==%')
export('%not%')
export('%and%')
export('%or%')
export('hs.xor')
export('hs.msg')
export('.muid4machine')
export('hs.uid.fp')
export('hs.seed_generate')
export('today_file_path')
export('osType')
export('wj_rsync')
export('.sys')
export('.sys.io.2wj')
export('wk.io.lines.2wj')
export('.r')
export('.wk')
export('.sys.less')
export('.sys.junction')
export('.sys.str')
export('.sys.bsub')
export('.wk.bsub.2mem')
export('.sys.bsub.do')
export('.sys.man')
export('.sys.fpGood')
export('.sys.fpGood.file')
export('.sys.view')
export('.sys.l')
export('.sys.nl')
export('.sys.cp')
export('.q')
export('.qq')
export('ieiwk.fp.cygwin2win')
export('ieiwk.fp.win2cygwin')
export('Ncpu')
export('hs.NC')
export('ieiwk.rm')
export('wk.find.wj.2tmp')
export('wk.list.wj')
export('ieiwk.list.files')
export('ieiwk.list.dirs')
export('ieiwk.file.rename')
export('wk.cp.wj2wjj')
export('ieiwk.file.copy')
export('ieiwk.list.files.bak')
export('.sys.ls')
export('.sys.scp')
export('.sys.scp.2newer')
export('.sys.scp.2larger')
export('ieiwk.find.file')
export('ieiwk.cpDirTree')
export('.sys.backup')
export('alarm')
export('.cut')
export('hs.uniq')
export('wk.wj.read.some.columns')
export('.grep')
export('.pwd')
export('wk.ls.path')
export('.ls')
export('.ls1')
export('.cp')
export('.wc')
export('.cd')
export('.less')
export('.head')
export('.cat')
export('.pipe')
export('.sys.pipe')
export('.perl')
export('.perl.e')
export('wj_row.hs.v_wj__perl')
export('.tail')
export('.man')
export('.top')
export('.htop')
export('.df')
export('.rm')
export('.hostname')
export('.sleep')
export('.uuidgen')
export('.whoami')
export('.Rscript')
export('wk.zip2gz')
export('hs.wj.rm')
export('ieiwk.dirname.1')
export('ieiwk.split.file')
export('ieiwk.comine.files')
export('.sys.ssh.file.path')
export('.sys.file.exists')
export('.sys.ssh')
export('.sys.ssh.stat')
export('.sys.ssh.stat.modify')
export('.sys.stat')
export('.sys.stat.modify')
export('.sys.stat.size')
export('.sys.mkdir')
export('.wget')
export('ieiwk.cp.dir_str')
export('ieiwk.fp.norm')
export('ieiwk.dirname.4home')
export('ieiwk.fp.4sys')
export('ieiwk.fp.4r')
export('assign.zjjg')
export('ieiwk.filename.append')
export('ieiwk.file.extension.change')
export('ieiwk.file.size')
export('.sys.file.fifo')
export('.sys.grep')
export('.sys.cat.skip')
export('.sys.uniq')
export('.sys.wget')
export('.tabix')
export('.tabix.sort')
export('.tabix.index')
export('.sys.tabix.index')
export('.sys.sort')
export('.sys.find')
export('.sys.gawk')
export('.sys.gawk.print')
export('.sys.gawk.selectLines')
export('.sys.cut')
export('.sys.less')
export('.sys.head')
export('.sys.tail')
export('.sys.pigz.c')
export('.sys.tr')
export('.sys.parallel')
export('.sys.gzip')
export('.sys.gzip.out')
export('.sys.gzip.in')
export('.sys.pigz')
export('.sys.pigz.out')
export('.sys.pigz.in')
export('.sys.pbgzip')
export('.sys.pbgzip.out')
export('.sys.pbgzip.in')
export('.sys.genomes.human')
export('.sys.java')
export('ieiwk.copy.wjj.jiegou')
export('uid_fp_source')
export('hs.hs')
export('wk.get')
export('.getl')
export('hs.dmgly')
export('a.33.03.17.191105')
export('.getls')
export('uid.filePath.code')
export('ieiwk.sjgly')
export('hs.xmgly')
export('ieiwk.xmbm')
export('ieiwk.xmbmhy')
export('ieiwk.function')
export('evalbq')
export('evalsub')
export('ieiwk.eval.save.load')
export('input.is.incomplete')
export('wk.e1')
export('wk.')
export('fp_temp.38_05_01_195807')
export('ieiwk.repl')
export('ieiwk.parse')
export('ieiwk.repl.eval')
export('ieiwk.get.function')
export('ieiwk.load.or.rerun')
export('ieiwk.get.callForm')
export('ieiwk.dynamicScope')
export('defmacro')
export('strmacro')
export('evalStr')
export('evalStrArg')
export('ieiwk.mp.code2str.r')
export('wk.evalLazy')
export('ieiwk.evalLazy.2')
export('ieiwk.mp.assign')
export('bin.perl')
export('ieiwk.mp.perl.cmd')
export('ieiwk.eval.sysCmd')
export('wk.e')
export('hs.substitute')
export('ieiwk.eval.helper')
export('ieiwk.call0')
export('ieiwk.call')
export('ieiwk.access.list')
export('wk.a')
export('.get')
export('.set')
export('.bt')
export('.brs')
export('ieiwk.env.here')
export('wk.33.06.24.202656')
export('wk.33.06.24.202656.bak')
export('hs.import')
export('exp_str.hs.v')
export('hs.swap')
export('hs.formals.merge')
export('hs.call')
export('hs.call.cmd')
export('hs.find_function')
export('hs.semicolon2')
export('hs.call...')
export('hs.hs.reduce')
export('hs.pastec')
export('hs.pastec0')
export('hs.pastec.')
export('hs.pastec_')
export('re.helper')
export('re')
export('gre.helper')
export('gre')
export('hs.strsplit.v')
export('formals')
export('hs.strsplit.v')
export('hs.strsplit')
export('hs.substr.replace')
export('hs.regmatches')
export('hs.detect.sep')
export('hs.format.same_width')
export('hs.paste')
export('paste.')
export('hs.paste.')
export('pasteT')
export('hs.pasteT')
export('hs.file.extension')
export('hs.str_merge')
export('hs.str_subtract')
export('hs.str_n')
export('hs.str_in')
export('hs.str_split')
export('hs.str_flat')
export('hs.str_pad')
export('hs.str_nonredundant')
export('hs.str_list_merge')
export('hs.str_and')
export('hs.str_not')
export('hs.str_match')
export('hs.str_diversify')
export('hs.str_as')
export('hs.str_cut')
export('hs.str_sort')
export('hs.pv.format')
export('format.hs.size')
export('hs.title')
export('hs.str_split_fixed')
export('hs.str_2num')
export('hs.dna.reversComplement')
export('hs.fpGood')
export('hs.fp.make_read_only')
export('hs.fp.make_personal')
export('hs.wj.parent')
export('hs.fp')
export('hs.fp1')
export('hs.wj')
export('MyMakePath')
export('hs.wjj')
export('hs.wjj.clean')
export('hs.wjlj')
export('hs.with_wd_temp')
export('hs.fp2name')
export('hs.fp_add_name')
export('.bash')
export('.file')
export('symlink.target')
export('symlink.fix')
export('wk.muid.sep.pattern')
export('wk.muid.pattern')
export('uid.hs')
export('.mfp')
export('.mfp.swxx')
export('.mfp.org')
export('wj.head.hs')
export('hs.wj.portable')
export('hs.basename')
export('hs.filename')
export('hs.wjm')
export('hs.fp.ext')
export('hs.wjj.ls')
export('wk.find.wj')
export('wk.ag.wj')
export('hs.wj.real')
export('hs.uid.wj')
export('hs.wj.copy')
export('hs.wj.move')
export('hs.dirname')
export('hs.file')
export('hs.list.write')
export('hs.list.read')
export('hs.wj.open')
export('hs.wj.temp')
export('hs.wj.temp')
export('hs.wj.bf')
export('hs.wj.exists')
export('hs.Sys.setFileTime')
export('hs.wj.update')
export('hs.wjm.friendly')
export('yb.hs.gn')
export('hs.readLines4gz')
export('hs.writeLines')
export('hs.writeLines2gz')
export('hs.url_good')
export('.sys.perl.print')
export('.sys.skip_line')
export('wk.readLines.using_perl')
export('.sys.uniq')
export('.unzip')
export('wk.save_to_zip')
export('wk.unrar')
export('wk.compressed_file_extension_pattern')
export('hs.wj.is_compressed')
export('wk.untar')
export('wk.decompress')
export('.sys.cat.text')
export('.usu')
export('hs.isDir')
export('hs.isFile')
export('hs.wj.mtime')
export('wk.file.newer')
export('wk.read')
export('wk.rsync')
export('wk.rsync.in')
export('wk.rsync.in.same_place')
export('wk.rsync.out')
export('wk.rsync.out.same_place')
export('wk.rsync.wjj.local')
export('wk.rsync.wjj.myWay')
export('wk.rsync.sync2way')
export('wk.get_open')
export('ieiwk.sync.wjj2do')
export('ieiwk.sync.wjj.mobile')
export('wk.rsync.safe')
export('.s')
export('.s.no.blank.line')
export('.s1')
export('.sh.no.blank.line')
export('.sh1')
export('.s.h')
export('.sh')
export('.sh.h')
export('.cat.inside.function.31.10.20.111835')
export('.c')
export('.jc')
export('.cat.time')
export('.cat4browser')
export('.cat.exp')
export('println')
export('report')
export('ieiwk.s')
export('ieiwk.s.list.in.row')
export('.str')
export('ieiwk.cat.line')
export('ieiwk.cat.headline')
export('hs.save')
export('ieiwk.save.image')
export('hs.load.image')
export('ieiwk.where2seek4parallel')
export('wk.fread.txtFromXls')
export('wk.gz.good')
export('wk.fread.gz')
export('ieiwk.fread.pipe')
export('wk.fwrite')
export('wk.fwrite.gz')
export('ieiwk.write.tsv')
export('wk.writeLines')
export('ieiwk.write.tsv.gz')
export('ieiwk.smart.sep')
export('wk.do.con..')
export('ieiwk.rt')
export('wk.read.csv')
export('wk.readTableExtra')
export('ieiwk.readxl')
export('ieiwk.xls.list.sheetNames')
export('wk.xls.read')
export('wk.xls.write')
export('wk.2xls')
export('read.tsv')
export('ieiwk.line.sep.good')
export('wk.r2sys')
export('wk.sys2sys')
export('hs.bgz')
export('cn.hs.wj')
export('text.cmd.text')
export('wk.wget2wj')
export('hs.file_system_is_linkable')
export('.jl')
export('wk.dt')
export('wk.dt.as')
export('wk.dt.uniq_n')
export('wk.dt.setattr')
export('wk.dt.copy')
export('wk.dt.absorb')
export('wk.dt.is_clean')
export('wk.dt.absorb1.core')
export('wk.dt.absorb1')
export('formals')
export('wk.dt.absorb1')
export('wk.dt.absorb2')
export('wk.dt.list.merge')
export('wk.dt.list.combine')
export('wk.dt.ij')
export('wk.dt.subset.na')
export('wk.dt.index')
export('wk.dt.setindexv')
export('wk.dt.expand')
export('wk.dt.j')
export('wk.dt.colConvert')
export('wk.dt.col.reorder')
export('wk.dt.fwrite')
export('wk.setindex')
export('wk.setkey')
export('wk.fread')
export('wk.fread0')
export('wk.fread1')
export('wk.fread.zip')
export('wk.dt.setorderv')
export('wk.dt.setnames')
export('wk.dt.set')
export('wk.dt.setDT')
export('wk.dt.setDF')
export('wk.dt.fromList')
export('wk.dt.fromMatrix')
export('wk.dt.fromUTF16')
export('wk.dt.2matrix')
export('wk.dt.2df')
export('wk.dt.widen')
export('wk.dt.tapply')
export('wk.fst.write')
export('wk.fst.write.fromWj')
export('ranges.hs.vector')
export('wk.fst.read')
export('wk.dt.rbind')
export('wk.dt.reshape')
export('wk.dt.clean')
export('wk.dt.replace')
export('wk.dt.reset_name')
export('wk.dt.1to1')
export('wk.dt.collapse')
export('wk.dt.db')
export('hs.hs.key2wj')
export('wk.sync.code.r.2server')
export('hs.r.2server.4jdi')
export('hs.dm.2svr')
export('hs.jdi')
export('hs.xm.do')
export('hs.xm.template')
export('hs.source.jdi')
export('hs.jdi.source')
export('hs.hsgly')
export('hs.hsgly.bak')
export('hs.dmgly')
export('hs.sjgly')
export('uid.obj')
export('uid.hs.str')
export('hsm.hs.uid')
export('hs.hsm.updator')
export('hs.uid_hs')
export('sjk.uid.hsm')
export('wk.33.06.24.203348')
export('ieiwk.make.arg.list')
export('hs.make.arg.wj')
export('hs.make.arg.wj.1')
export('hs.mfp.arg')
export('env_name.37_12_22_104219')
export('hs.localize')
export('wk.33.06.24.202656.v2.auto')
export('..meta.wj_out')
export('wk.33.06.24.202656.v2')
export('hs.try_with_time_limit')
export('wk.digest.args')
export('.r1')
export('.ag.less')
export('.ag1')
export('.ag')
export('.orz')
export('r.str')
export('z.str')
export('.gz')
export('.ot')
export('.ag.org')
export('zim')
export('.zt')
export('.rt')
export('.ohd')
export('.zhd')
export('.oh')
export('.oh1')
export('.oht')
export('.zh')
export('.zht')
export('.zh2')
export('.ag.ht')
export('.oln')
export('.zln')
export('.e')
export('.dm')
export('.wj')
export('wk.bf.wk.bypy.wjj2rm')
export('wk.bf.bypy.syncup')
export('wk.bypy.upload.doc')
export('wk.bf.bypy.wk')
export('wk.bf.swxx.bypy')
export('wk.bf.swxx.byRsync.2in2')
export('wk.bf.bypy.1h')
export('wj.zim.bin')
export('wj.zim.notebook.xt')
export('wk.zim.down')
export('wk.zim.up')
export('wk.zim.up.print')
export('hs.jl')
export('wk.backup_file.clean')
export('hs.emacs.windows')
export('wk.path_wine')
export('wk.make.home.ready')
export('hs.org.options.export')
export('hs.give.me')
export('wk.find.uid')
export('wk.zip1')
export('wk.7z1')
export('hs.36_02_03_174626')
export('wk.bash')
export('note.update_time')
export('hs.time.4filename')
export('wj.updater')
export('wj.update.reporter.co1')
export('wj.update.reporter')
export('hs.wj.ext.sub')
export('wk.2xlsx')
export('wk.pack.wj')
export('wk.pack')
export('.l')
export('get.function_definition')
export('hs.wj.open.in_emacs')
export('hs.do.xm')
export('hs.org.jt')
export('hs.2hotspot')
export('rw.wjj0.hs')
export('hs.head')
export('hs.tail')
export('wk.wait')
export('hs.wjj.str_4parameters')
export('hs.wjj.str_4parameters.parameters.L')
export('hs.wjj.str_4parameters.parameters_str')
export('hs.wjj.str_4parameters.parameter_set')
export('pv.hs.str')
export('hs.xm')
export('hs.send2wiz')
export('.chk')
export('.h')
export('30.10.31.202238')
export('.update')
export('.Rsync')
export('.r820')
export('hostname')
export('r.home')
export('wk.path')
export('hs.libPaths')
export('wk.install_github')
export('ieiwk.workflowInstall')
export('hs.library')
export('pkgNSisMissing')
export('.def.1')
export('.def.4')
export('.def.3')
export('.def.expr')
export('.def.expr.show')
export('.def.expr.eval')
export('.def.save')
export('ieiwk')
export('.muid.file.path.2')
export('ieiwk.move.dirContents')
export('.mfp.ws')
export('.mfp.data')
export('.mfp.code')
export('.mfp2load')
export('.mfi')
export('.mfr')
export('ieiwk.muid.ln')
export('.mln')
export('ieiwk.muid.rm')
export('.mrm')
export('.ma.code')
export('.ma.code.pdf')
export('ieiwk.muid.access')
export('.ms')
export('.ma')
export('hs.listAsVector')
export('ieiwk.reorder')
export('clg')
export('ieiwk.clg2')
export('clg2')
export('ieiwk.in.range')
export('ieiwk.merge.range')
export('ieiwk.range.change')
export('ieiwk.eql')
export('ieiwk.range.centerRadius')
export('ieiwk.i')
export('.i')
export('ieiwk.replace')
export('hs.sepSeq')
export('ieiwk.i.block')
export('hs.connection')
export('ieiwk.readChar')
export('ieiwk.readChar.all')
export('wk.read.chunk')
export('wk.fread.chunk.1')
export('wk.fread.chunk.2')
export('wk.fread.chunk.3')
export('wk.fread.chunk.4')
export('wk.fread.chunk.5')
export('wk.fread.chunk.6')
export('wk.fread.chunk.7')
export('wk.fread.chunk.8')
export('wk.fread.chunk')
export('wk.dt.inList')
export('wk.fread.chunk.do.line.1')
export('wk.fread.chunk.do.line.2')
export('wk.fread.chunk.do.line.3')
export('wk.fread.chunk.do.line')
export('wk.fread.chunk.do.lines')
export('hs.sepLines')
export('wk.fread.chunk.do')
export('ieiwk.readChar.chunk')
export('ieiwk.readChar.chunk.all')
export('ieiwk.nrc')
export('ieiwk.nrc.seq')
export('hs.pick')
export('%no.less.than%')
export('%larger.than%')
export('%smaller.than%')
export('%no.larger.than%')
export('ieiwk.tvvt')
export('inverseList')
export('ieiwk.intersect')
export('tt')
export('.lu')
export('.luu')
export('nm')
export('%|%')
export('%(%')
export('%(c%')
export('%(unname%')
export('%)%')
export('%xor%')
export('%overlap%')
export('%within%')
export('%!in%')
export('wk.which')
export('ieiwk.within.core')
export('hs.within')
export('ieiwk.sample')
export('ieiwk.combn')
export('wk.combn')
export('wk.sapply')
export('hs.lapply')
export('wk.apply')
export('wk.tapply')
export('ieiwk.rapply.get')
export('wk.rapply.flat')
export('ieiwk.replace.stepwise')
export('hs.once')
export('hs.once_simple')
export('hs.twice')
export('wk.make.hash_table')
export('wk.strCutL')
export('wk.strCutSL')
export('ieiwk.string.col')
export('wk.str_split_fixed')
export('ieiwk.str_subset')
export('hs.trim')
export('ieiwk.capitalize.1st.letter')
export('ieiwk.strsplit.pick')
export('%,%')
export('%.%')
export('revStr')
export('revStr.int')
export('ieiwk.dna.nulceotide.complementary')
export('ieiwk.dna.complementaryRev.viaInt')
export('ieiwk.str.insert')
export('ieiwk.substr')
export('wk.re')
export('wk.re.replace')
export('wk.re.split')
export('wk.re.ss')
export('wk.striLocSub')
export('wk.re.ms')
export('wk.gre')
export('ieiwk.grep')
export('ieiwk.grep.all')
export('ieiwk.grep.any')
export('ieiwk.match')
export('.conda')
export('wk.sprintf')
export('ieiwk.as.date')
export('ieiwk.thisYear')
export('ieiwk.time.add')
export('.sys.mtime')
export('data.check')
export('wk.table.margin')
export('ieiwk.select.matrix')
export('wk.seq.nrow')
export('wk.seq.ncol')
export('ieiwk.as.matirx')
export('ieiwk.t')
export('ieiwk.l2m')
export('ieiwk.data.frame')
export('%[%')
export('ieiwk.mpstat')
export('wk.xcs')
export('wk.mclapply')
export('ieiwk.pvec')
export('hs.methods')
export('ieiwk.last.value')
export('ieiwk.get.singleElement')
export('wk.attr.hs')
export('.last.cmd')
export('ieiwk.clean.obj')
export('os')
export('ll')
export('rm.all')
export('rm.data')
export('rm.var')
export('rm.var.4def')
export('rm.function')
export('ls.var')
export('listElementCounts')
export('listPrintLinesCounts')
export('.at')
export('.t')
export('.tl')
export('.te')
export('lb')
export('lb.env')
export('lb.env.update')
export('bin.Rscript')
export('.sys.rs')
export('.sys.qsub.rsStdin')
export('ieiwk.rsStdin')
export('.sys.qsub.i')
export('.sys.qsub.sleep')
export('.sys.qsub')
export('.sys.qstat')
export('.sys.qsub.chk')
export('.sys.qsub.chk.r')
export('.rls')
export('jdi')
export('.sys.exit')
export('ieiwk.favor.node')
export('ieiwk.wait.file')
export('ieiwk.wait.thread')
export('cluster.all')
export('.sys.killall')
export('wdjc')
export('jc.is.sleeping')
export('wdjc.search')
export('disk.is.busy')
export('ps.state')
export('disk.wait.not.busy')
export('mem.is.enough')
export('cluster.mem')
export('give.me.a.node')
export('node.wait.available')
export('ieiwk.vt')
export('.gemini')
export('.samtools')
export('.blat')
export('.bwa')
export('.bwa.index')
export('.sys.bam.chk')
export('ieiwk.index.bam')
export('ieiwk.index.fa')
export('bi.qse')
export('bin.samtools')
export('bin.bwa')
export('bin.java')
export('bin.MarkDuplicates')
export('bin.intersectBed')
export('bin.ValidateSamFile')
export('fn.x.left.30.03.26.162558')
export('fn.x.right.30.03.26.162646')
export('ieiwk.peak2valley')
export('fastq_EndType')
export('fastq_read_HowMany')
export('ieiwk.make.hs')
export('ieiwk.make.hs.dir')
export('.si')
export('ieiwk.password_random.generator')
export('ieiwk.fp.par')
export('random.password.generator')
export('not')
export('wk.zim.find')
export('ieiwk.zim.31.12.27.100406')
export('wk.mlocate')
export('.find')
export('wk.head')
export('ieiwk.deComment.codeFile.R')
export('ieiwk.deComment.codeFile.awk')
export('ieiwk.deComment.codeFiles')
export('ieiwk.append')
export('ieiwk.IRanges')
export('ieiwk.GRanges')
export('wk.browser')
export('ieiwk.pubmed')
export('.wk.baloosearch')
export('.wk.open')
export('.wk.open.pdf')
export('.wk.wjj.db')
export('wk.is.a.local.machine')
export('wk.remote.setup')
export('wk.remote')
export('wk.filter')
export('wk.axel')
export('wk.wget')
export('wk.curl')
export('R_session.location.hs')
export('R_session.location')
export('wk_node_remote')
export('ieiwk.ssh.db')
export('wk.match_partial')
export('wk.view')
export('wk.color')
export('hs.snv_is')
export('v.pct.hs')
export('fq_wj.hs.wjj')
export('.sys.speedseq')
export('.sys.annovar')
export('gene.id_symbol.hs.str')
export('gene_id_name.37_04_29_145914')
export('log_fold_change_name.37_04_29_150019')
export('qvalue_name.37_04_29_150328')
export('pvalue_name.37_04_29_150328')
export('hs.pfm2pwm')
export('wk.pfm2pwm.for_TFBSTools')
export('.sys.wjj.fa_wj')
export('seq_org.hs.fa')
export('blastdb.wk.fa')
export('wk.blast')
export('geneset.heatmap.37_04_29_151302')
export('wk.color')
export('wk.plot.step')
export('ieiwk.heatmap')
export('ieiwk.heatmap.2')
export('ieiwk.density')
export('Mycol2rgb')
export('ieiwk.col2rgb')
export('hs.fig_wj_wjj')
export('.pdf')
export('.png')
export('.figs')
export('.fig')
export('.tiff')
export('.jpeg')
export('ieiwk.plot.blank')
export('ieiwk.plot.text')
export('mergePDF')
export('wk.venn.diagram.2')
export('wk.heatmap.0orMore')
export('text.width.hs')
export('wk.gseaplot2')
export('wk.pheatmap')
export('wk.ggsave')
export('hs.lab_log')
export('bg_white.hs')
export('vhline00.hs')
export('hline_qv.hs')
export('annotate_text')
export('hs_plot.track.add_text')
export('hs.with_par')
export('hs.grid.add_text')
export('hs.grid.print')
export('hs.rowCvs')
export('hs.colCvs')
export('hs.num_is_equal')
export('hs.se')
export('hs.sd_median')
export('hs.mad')
export('geometric_mean.hs')
export('hs.prcomp')
export('z_score.hs.v')
export('z_score.hs.m')
export('hs.log_mean')
export('hs.lfc')
export('fisher.test.ele')
export('hs.cos_sim')
export('aov.pv')
export('ieiwk.normalize.quantiles')
export('hs.p.adjust')
export('reduced.hs.range_1d')
export('is_overlapping.hs.range1_1d')
export('is_overlapping.hs.range1')
export('dif.hs.range1_1d')
export('dif.hs.range_1d')
export('cor.wt')
export('wk.least_common_multiple')
export('wk.integerRange.4cut')
export('formatSafe')
export('wk.bigz')
export('hs.median_i')
